<ion-view view-title="Sign Up as a {{as}}">
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-buttons side="left">
            <a href="#/auth" class="button button-icon ion-ios-arrow-back"></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="padding">
        <form ng-submit="signup(loginForm)" name="loginForm">
            <div class="padding-horizontal">
                <h4 class="text-center dark">Via e-mail</h4>

                <div class="input">
                    <input type="email" ng-model="user.username" placeholder="Email" required>
                </div>

                <div class="input">
                    <input type="password" ng-model="user.password" min-length="4" placeholder="Password" required>
                </div>

                <div class="input">
                    <input type="password" ng-model="user.passwordConfirmation" required placeholder="Password confirmation">
                </div>
            </div>
            <div class="padding-horizontal">
                <button class="button button-block button-energized" type="submit" ng-disabled="!checkForm(loginForm)">Sign Up</button>
            </div>
        </form>

        <br />
        <h4 class="text-center dark">Or Use Social Accounts</h4>
        <div class="padding-horizontal">
            <button class="button button-block facebook-bg light" type="submit"  ng-click="facebookLogin()">Facebook</button>
            <button class="button button-block googleplus-bg light" type="submit">Google+</button>
        </div>

        <br />
        <h4 class="text-center calm">Already Have an Account? Log In</h4>
        <div class="padding">
            <button class="button button-block button-light" type="submit" ui-sref="login">Log In</button>
        </div>
    </ion-content>
</ion-view>
